<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="C:\USERS\SABAH FAKIR\ONEDRIVE\DOCUMENTS\VISUAL PROGRAMMING\MAJORPROJECT\HOSTELMS\HOSTELMS\DATABASE\HOSTEL.MDF"
          connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\sabah fakir\OneDrive\Documents\Visual Programming\MajorProject\HostelMS\HostelMS\Database\Hostel.mdf;Integrated Security=True;User Instance=True"
         providerName=".NET Framework Data Provider for SQL Server"  />
    </connectionStrings>
</configuration>